@{
    Layout = null;
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Banking Application - <a target="_blank" href="https://github.com/BenFenton1996/BankingApp">Source Code</a>
    </div>
</footer>

