@{
    Layout = null;
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Banking Application - <a target="_blank" href="https://github.com/BenjaminFenton1996/BankingWebApp">Source Code</a>
    </div>
</footer>

